<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">Itachihebi2</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/course_registration</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="net/javacourse/entities/Courses.hbm.xml"/>
        <mapping resource="net/javacourse/entities/Previleges.hbm.xml"/>
        <mapping resource="net/javacourse/entities/Schedules.hbm.xml"/>
        <mapping resource="net/javacourse/entities/Students.hbm.xml"/>
        <mapping resource="net/javacourse/entities/CurrentSem.hbm.xml"/>
        <mapping resource="net/javacourse/entities/Timetable.hbm.xml"/>
        <mapping resource="net/javacourse/entities/Trainers.hbm.xml"/>
        <mapping resource="net/javacourse/entities/Classes.hbm.xml"/>
        <mapping resource="net/javacourse/entities/Studies.hbm.xml"/>
        <mapping resource="net/javacourse/entities/Semesters.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
